* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("https://images3.alphacoders.com/221/221379.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

/*! Player Card/Container Styling  */
.card-container {
  min-width: 300px;
}
.card {
  height: 400px;
  max-width: 280px;
  min-width: 230px;
  transform-style: preserve-3d;

  /*? Content Alignment */
  position: relative;

  user-select: none;
}
.card:hover {
  box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.5);
}

.card-front,
.card-back {
  /*? === Sizing === */
  height: 100%;
  width: 100%;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  /*? Alignment */
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-front {
  background-color: black;
}

.card-back {
  transform: rotateY(180deg);
  opacity: 0.8;
}

.card-back-gif {
  z-index: -5;
  opacity: 0.8;
  height: 310px;
}
.player-logo {
  transition: transform 0.2s;
  height: 350px;
}

.player-card:hover .player-logo {
  transform: scale(0.95);
}

.card-footer {
  background-color: #3c3c3c;
  color: white;
}

/*? Flip Card Animation (CSSTransition)  */

.flip-exit {
  transform: rotateY(0deg);
}

.flip-exit-active {
  transform: rotateY(180deg);
  transition: transform 300ms;
  transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.flip-exit-done {
  transform: rotateY(180deg);
}

.flip-enter {
  transform: rotateY(180deg);
}

.flip-enter-active {
  transform: rotateY(0deg);
  transition: transform 300ms;
  transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.flip-enter-done {
  transform: rotateY(0deg);
}
